.footer-socials {

    padding-top: 80px;
    padding-bottom: 80px;
    background: #191919;

    @include media($lg) {
        padding-top: 60px;
        padding-bottom: 40px;
    }

    @include media($md) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    @include media($sm) {
        &__posts,
        &__twitter,
        &__dribble {
            display: none;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px;

        @include media($lg) {
            grid-template-columns: 1fr 1fr 180px;
        }

        @include media($md) {
            grid-template-columns: 1fr 1fr;
        }

        @include media($sm) {
            grid-template-columns: 1fr;
        }
    }

    &__title {
        font-size: $raleway;
        font-weight: 600;
        font-size: 24px;
        color: white;
        line-height: 18px;
        margin-bottom: 10px;
        margin-top: 30px;
        order: 0;

        @include media($lg) {
            margin-top: 0;
        }

        @include media($md) {
            &:first-of-type{ 
                margin-top: 30px;
            }
        }
    }

    &__about {
        @include media($lg) {
            width: fit-content;
            grid-column-start: 1;
            grid-column-end: 4;
            margin: 0 auto;

            display: grid;
            grid-template-columns: 1fr 2fr;
        }

        @include media($md) {
            grid-column-end: 2;
            display: block;
        }

        @include media($sm) {
            &-logo{
                text-align: center;
            }

            &-description {
                max-width: 360px;
                text-align: justify;
            }
        }

        &-logo {
            display: block;
            color: white;
            font-family: $raleway;
            font-size: 34px;
            font-weight: 400;
            margin-bottom: 25px;

            &:hover {
                color: white;
            }

            &_img {
                margin-right: -5px;
            }
        }

        &-description {
            font-family: $montserrat;
            font-weight: 300;
            font-size: 14px;
            color: #555555;
            line-height: 26px;
            margin-bottom: 28px;
        }

        &-link {
            font-family: $montserrat;
            font-weight: 400;
            font-size: 14px;
            color: #d1d1d1;
            display: flex;
            align-items: center;

            & i {
                margin-left: 10px;
            }

            &:hover {
                color: #d1d1d1;
            }

            @include media($lg) {
                grid-column-start: 2;
            }
        }
    }

    &__posts {
        order: 2;

        &-card {

            display: block;
            padding: 20px 0;
            border-bottom: 1px solid #252525;

            &:last-of-type {
                border-bottom: none;
            }

            &:hover &-date {
                color: white;
            }

            &:hover &-text {
                color: #c7b299;
            }

            &-date {
                font-family: $montserrat;
                font-weight: 300;
                font-size: 12px;
                color: #363636;
                margin-bottom: 10px;
            }

            &-text {
                font-family: $montserrat;
                font-weight: 300;
                font-size: 14px;
                color: #555555;
                line-height: 21px;
                margin-bottom: 0;
            }
        }
    }

    &__twitter {
        order: 3;

        &-card {
            display: block;
            padding: 20px 0;
            border-bottom: 1px solid #252525;

            &:last-of-type {
                border-bottom: none;
                padding-bottom: 0;
            }

            &-text {
                font-family: $montserrat;
                font-weight: 300;
                font-size: 14px;
                color: #555555;
                line-height: 21px;
                margin-bottom: 10px;

                &-assign {
                    color: #00bff3;

                    &:hover {
                        color: #00bff3;
                    }
                }

                &-link {
                    color: #959595;

                    &:hover {
                        color: #959595;
                    }
                }
            }

            &-time {
                font-family: $montserrat;
                font-weight: 300;
                font-size: 12px;
                color: #363636;
                line-height: 9px;
            }
        }
    }

    &__dribble {
        order: 4;

        @include media($md) {
            order: 1;
        }

        &-content {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;

            @include media($lg) {
                grid-template-columns: 1fr;
                justify-items: center;
            }

            @include media($md) {
                grid-template-columns: repeat(2, 1fr);

            }
        }
    }
}