.main-posts {

    padding-top: 80px;
    padding-bottom: 80px;

    @include media($lg) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include media($md) {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    & .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-family: $raleway;
        font-weight: 600;
        font-size: 30px;
        color: #555555;
        line-height: 20px;
        margin-bottom: 25px;

        @include media($lg) {
            font-size: 28px;
            margin-bottom: 20px;
        }

        @include media($md) {
            font-size: 24px;
            margin-bottom: 15px;
        }
    }

    &__description {
        font-family: $montserrat;
        font-weight: 300;
        font-size: 16px;
        color: #8c8c8c;
        line-height: 28px;
        margin-bottom: 37px;
        text-align: center;
        max-width: 770px;

        @include media($lg) {
            max-width: 580px;
            margin-bottom: 28px;
        }

        @include media($md) {
            max-width: 460px;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 20px;
        }

        @include media($sm) {
            max-width: 400px;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 40px;

        @include media($lg) {
            grid-template-columns: 1fr 1fr;
            margin-bottom: 25px;
        }

        @include media($md) {
            gap: 20px;
            margin-bottom: 15px;
        }

        @include media($sm) {
            width: 340px;
            grid-template-columns: 1fr;
        }
    }

    &__card {

        position: relative;

        &:hover &-overlay {
            opacity: 1;
        }

        &:hover &-date_day {
            background: #c7b299;
        }

        &:hover &-date_month {
            background: #a48d72;
        }

        &:hover &-panel {
            background: #362f2d;
        }

        &:hover &-title {
            color: #c7b299;
        }

        &:hover &-description {
            color: white;
        }

        @include media($lg) {
            &:last-of-type {
                display: none;
            }
        }

        &-overlay {
            position: absolute;
            height: 220px;
            width: 100%;
            background: rgba(0, 0, 0, 0.7);
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;

            @include media($xl) {
                height: 178.4px;
            }

            @include media($lg) {
                height: 205px;
            }

            @include media($md){
                height: 154.6px;
            }

            @include media($sm) {
                height: 202px;
            }
        }

        &-date {
            position: absolute;
            z-index: 1;
            width: 50px;
            top: 20px;
            left: 20px;
            border-radius: 3px;
            overflow: hidden;

            &_day {
                font-family: $montserrat;
                font-weight: 300;
                font-size: 24px;
                color: white;
                background: #363636;
                padding: 9px 0;
                line-height: 18px;
                text-align: center;
            }

            &_month {
                font-family: $roboto;
                font-weight: 400;
                font-size: 12px;
                color: white;
                background: #252525;
                padding: 7px 0;
                line-height: 10px;
                text-align: center;
            }
        }

        &-img {
            width: 370px;

            @include media($xl) {
                width: 300px;
            }

            @include media($lg) {
                width: 345px;
            }

            @include media($md) {
                width: 260px;
            }

            @include media($sm) {
                width: 340px;
            }
        }

        &-slider {

            & .carousel-indicators li {
                width: 11px;
                height: 11px;
                border-radius: 50%;
                border: 2px solid transparent;
                background: rgba(255, 255, 255, 0.3);

                &.active {
                    background: transparent;
                    border: 2px solid #d3c1ad;
                }
            }
        }

        &-panel {
            padding: 30px;
            background: white;

            @include media($md) {
                padding: 20px;
            }
        }

        &-title {
            font-family: $raleway;
            font-weight: 500;
            font-size: 20px;
            color: #555555;
            line-height: 16px;
            margin-bottom: 20px;

            @include media($xl) {
                font-size: 18px;
            }

            @include media($md) {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }

        &-description {
            font-family: $montserrat;
            font-weight: 300;
            font-size: 14px;
            color: #8c8c8c;
            line-height: 22px;
            margin-bottom: 27px;

            @include media($xl) {
                margin-bottom: 15px;
            }

            @include media($md) {
                line-height: 20px;
                margin-bottom: 8px;
                text-align: justify;
            }
        }

        &-link {
            font-family: $montserrat;
            font-weight: 300;
            font-size: 14px;
            color: #c7b299;
            margin-bottom: 0;
            display: flex;
            align-items: center;

            &:hover {
                color: #c7b299;
            }

            & i {
                margin-left: 15px;
            }
        }
    }

    &__controls {
        &_btn {
            color: #cab79f;
            font-size: 20px;
            margin: 0 2px;

            &:hover {
                color: #cab79f;
            }
        }
    }
}