.presentation {
    
    position: relative;
    padding-top: 210px;
    padding-bottom: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    @include media($xl) {
        padding-top: 180px;
        padding-bottom: 180px;
    }

    @include media($lg) {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    @include media($md) {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    @include media($sm) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include media($xsm) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &:hover &__icon{
        z-index: 1;
    }

    &__video {
        position: absolute;
        height: 100%;
        z-index: -1;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
    }

    &__icon {
        position: relative;
        z-index: 0;
        padding: 15px;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        color: white;
        font-size: 70px;
        margin-bottom: 45px;

        @include media($lg) {
            font-size: 55px;
            padding: 10px;
            margin-bottom: 30px;
        }
        
        @include media($md){
            margin-bottom: 20px;
        }
    }

    &__title {
        font-family: $raleway;
        font-weight: 600;
        font-size: 30px;
        color: white;
        line-height: 22px;
        margin-bottom: 26px;
        text-align: center;

        @include media($lg) {
            font-size: 26px;
            margin-bottom: 16px;
        }

        @include media($md){
            font-size: 22px;
        }
    }

    &__description {
        font-family: $montserrat;
        font-weight: 300;
        font-size: 16px;
        color: white;
        line-height: 28px;
        margin-bottom: 37px;
        max-width: 560px;
        text-align: center;

        @include media($lg) {
            margin-bottom: 25px;
        }

        @include media($sm) {
            max-width: 340px;
            font-size: 14px;
            line-height: 22px;
        }

        @include media($xsm) {
            max-width: 280px;
        }
    }

    &__duration {
        font-family: $montserrat;
        font-weight: 400;
        font-size: 14px;
        color: #c7b299;
    }
}