@import 'components/header-nav',
        'components/header-content';

.header{
    background: url(../images/header_bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &-row{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
}