<div class="footer-bottom">
    <div class="container">
        <div class="row footer-bottom__content">
            <div class="footer-bottom__left">
                <div class="footer-bottom__left-copyright">Copyright © 2015 <span class="footer-bottom__left-copyright-span">Waxom</span></div>
                <ul class="footer-bottom__left-list">
                    <li><a href="" class="footer-bottom__left-list-link">Privacy Policy</a></li>
                    <li><a href="" class="footer-bottom__left-list-link">FAQ</a></li>
                    <li><a href="" class="footer-bottom__left-list-link">Support</a></li>
                </ul>
            </div>
            <div class="footer-bottom__right">
                <div class="footer-bottom__right-author">
                    Designed by
                    <span class="footer-bottom__right-author-span">ThemeFire</span>
                </div>
                <div class="footer-bottom__right-author">Only on
                    <span class="footer-bottom__right-autho-span">Envato Market</span>
                </div>
            </div>
        </div>
    </div>
</div>