<section class="footer-socials">
    <div class="container">
        <div class="row footer-socials__content">
            <div class="footer-socials__about">
                <a class="footer-socials__about-logo" href="#">
                    <img src="images/header_logo.webp" class="footer-socials__about-logo_img" alt="">
                    Waxom
                </a>

                <p class="footer-socials__about-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
                    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                    ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.</p>
                <a href="" class="footer-socials__about-link">Read More<i class="fas fa-caret-right"></i></a>
            </div>
            <div class="footer-socials__posts">
                <h3 class="footer-socials__title">Recent Posts</h3>
                <a href="" class="footer-socials__posts-card">
                    <div class="footer-socials__posts-card-date">September 08, 2015</div>
                    <p class="footer-socials__posts-card-text">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                </a>
                <a href="" class="footer-socials__posts-card">
                    <div class="footer-socials__posts-card-date">September 08, 2015</div>
                    <p class="footer-socials__posts-card-text">
                        Diam nonummy nibh euismod tincidunt ut laoreet dolore magna
                    </p>
                </a>
                <a href="" class="footer-socials__posts-card">
                    <div class="footer-socials__posts-card-date">September 08, 2015</div>
                    <p class="footer-socials__posts-card-text">
                        Claritas est etiam processus dynamicus, qui sequitur mutationem per seacula quarta decima
                    </p>
                </a>
            </div>
            <div class="footer-socials__twitter">
                <h3 class="footer-socials__title">Out Twitter</h3>
                <div class="footer-socials__twitter-card">
                    <p class="footer-socials__twitter-card-text">
                        <a href="" class="footer-socials__twitter-card-text-assign">@waxom</a> Cum soluta nobis eleifend
                        option congue nihil imperdiet doming
                    </p>
                    <div class="footer-socials__twitter-card-time">3 mins ago</div>
                </div>
                <div class="footer-socials__twitter-card">
                    <p class="footer-socials__twitter-card-text">
                        Mirum est <a href="" class="footer-socials__twitter-card-text-assign">#envato</a> notare quam
                        littera gothica, quam nunc putamus parum anteposuerit litterarum
                    </p>
                    <div class="footer-socials__twitter-card-time">5 hours ago</div>
                </div>
                <div class="footer-socials__twitter-card">
                    <p class="footer-socials__twitter-card-text">
                        Soluta nobis option <a href="" class="footer-socials__twitter-card-text-link">bit.ly/1Hniso7</a>
                    </p>
                    <div class="footer-socials__twitter-card-time">20 days ago</div>
                </div>
            </div>
            <div class="footer-socials__dribble">
                <h3 class="footer-socials__title">Dribble Widget</h3>
                <div class="footer-socials__dribble-content">
                    <a href="" class="footer-socials__dribble-links">
                        <img src="images/widget_1.webp" alt="" class="footer-socials__dribble-img">
                    </a>
                    <a href="" class="footer-socials__dribble-links">
                        <img src="images/widget_2.webp" alt="" class="footer-socials__dribble-img">
                    </a>
                    <a href="" class="footer-socials__dribble-links">
                        <img src="images/widget_3.webp" alt="" class="footer-socials__dribble-img">
                    </a>
                    <a href="" class="footer-socials__dribble-links">
                        <img src="images/widget_4.webp" alt="" class="footer-socials__dribble-img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>