<div id="header-content__carousel" class="carousel slide header-content" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#header-content__carousel" data-slide-to="0" class="active header-content__dot"></li>
        <li data-target="#header-content__carousel" data-slide-to="1" class="header-content__dot"></li>
        <li data-target="#header-content__carousel" data-slide-to="2" class="header-content__dot"></li>
        <li data-target="#header-content__carousel" data-slide-to="3" class="header-content__dot"></li>
        <li data-target="#header-content__carousel" data-slide-to="4" class="header-content__dot"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="header-content__page">
                <h3 class="header-content__page-pretitle">Unique and Modern Design</h3>
                <h1 class="header-content__page-title">Portfolio PSD Template</h1>
                <p class="header-content__page-description">Nam liber tempor cum soluta nobis eleifend option congue
                    nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                <a href="" class="standard-button header-content__page-link">GET STARTED</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="header-content__page">
                <h3 class="header-content__page-pretitle">Unique and Modern Design</h3>
                <h1 class="header-content__page-title">Portfolio PSD Template</h1>
                <p class="header-content__page-description">Nam liber tempor cum soluta nobis eleifend option congue
                    nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                <a href="" class="standard-button header-content__page-link">GET STARTED</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="header-content__page">
                <h3 class="header-content__page-pretitle">Unique and Modern Design</h3>
                <h1 class="header-content__page-title">Portfolio PSD Template</h1>
                <p class="header-content__page-description">Nam liber tempor cum soluta nobis eleifend option congue
                    nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                <a href="" class="standard-button header-content__page-link">GET STARTED</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="header-content__page">
                <h3 class="header-content__page-pretitle">Unique and Modern Design</h3>
                <h1 class="header-content__page-title">Portfolio PSD Template</h1>
                <p class="header-content__page-description">Nam liber tempor cum soluta nobis eleifend option congue
                    nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                <a href="" class="standard-button header-content__page-link">GET STARTED</a>
            </div>
        </div>
        <div class="carousel-item">
            <div class="header-content__page">
                <h3 class="header-content__page-pretitle">Unique and Modern Design</h3>
                <h1 class="header-content__page-title">Portfolio PSD Template</h1>
                <p class="header-content__page-description">Nam liber tempor cum soluta nobis eleifend option congue
                    nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                <a href="" class="standard-button header-content__page-link">GET STARTED</a>
            </div>
        </div>        
    </div>
    <a class="carousel-control-prev" href="#header-content__carousel" role="button" data-slide="prev">
        <i class="fal fa-chevron-left header-content__arrow"></i>
    </a>
    <a class="carousel-control-next" href="#header-content__carousel" role="button" data-slide="next">
        <i class="fal fa-chevron-right header-content__arrow"></i>
    </a>
</div>
