<div class="row">
    <nav class="navbar navbar-expand-lg header-nav">
        <a class="navbar-brand header-nav__logo" href="#">
            <img src="images/header_logo.webp" alt="" class="header-nav__logo_img"> Waxom
        </a>
        <div class="header-nav__controls">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav header-nav__list">
                    <li class="nav-item active">
                        <a class="nav-link header-nav__list_link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-nav__list_link" href="#">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-nav__list_link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-nav__list_link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-nav__list_link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-nav__list_link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-nav__list_link" href="#">Shortcodes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header-nav__list_link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <a href="" class="header-nav__icon-link"><img src="images/header-cart.webp" alt=""> </a>
            <a href="" class="header-nav__icon-link"><img src="images/header-finder.webp" alt=""> </a>
        </div>
    </nav>
</div>