<div class="container">
    <section class="projects">
        <h2 class="projects__title">Our Latest Projects</h2>
        <p class="projects__description">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
        <div class="projects__tabs">
            <a href="" class="projects__tabs-link active">All</a>
            <a href="" class="projects__tabs-link">Web Design</a>
            <a href="" class="projects__tabs-link">Mobile App</a>
            <a href="" class="projects__tabs-link">Illustration</a>
            <a href="" class="projects__tabs-link">Photography</a>
        </div>
        <div class="row">
            <div class="projects__cards">
                <div class="projects__cards-item">
                    <div class="projects__cards-item-overlay">
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-link"></i>
                        </a>
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div>
                        <img src="images/project_pic_1.webp" alt="" class="projects__cards-item-img">
                    </div>
                    <a href="" class="projects__cards-item-label">
                        <h3 class="projects__cards-item-title">
                            Claritas Etiam Processus
                        </h3>
                        <p class="projects__cards-item-description">
                            Photography, Nature
                        </p>
                    </a>
                </div>
                <div class="projects__cards-item">
                    <div class="projects__cards-item-overlay">
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-link"></i>
                        </a>
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div>
                        <img src="images/project_pic_2.webp" alt="" class="projects__cards-item-img">
                    </div>
                    <a href="" class="projects__cards-item-label">
                        <h3 class="projects__cards-item-title">
                            Claritas Etiam Processus
                        </h3>
                        <p class="projects__cards-item-description">
                            Photography, Nature
                        </p>
                    </a>
                </div>
                <div class="projects__cards-item">
                    <div class="projects__cards-item-overlay">
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-link"></i>
                        </a>
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div>
                        <img src="images/project_pic_3.webp" alt="" class="projects__cards-item-img">
                    </div>
                    <a href="" class="projects__cards-item-label">
                        <h3 class="projects__cards-item-title">
                            Claritas Etiam Processus
                        </h3>
                        <p class="projects__cards-item-description">
                            Photography, Nature
                        </p>
                    </a>
                </div>
                <div class="projects__cards-item">
                    <div class="projects__cards-item-overlay">
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-link"></i>
                        </a>
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div>
                        <img src="images/project_pic_4.webp" alt="" class="projects__cards-item-img">
                    </div>
                    <a href="" class="projects__cards-item-label">
                        <h3 class="projects__cards-item-title">
                            Claritas Etiam Processus
                        </h3>
                        <p class="projects__cards-item-description">
                            Photography, Nature
                        </p>
                    </a>
                </div>
                <div class="projects__cards-item">
                    <div class="projects__cards-item-overlay">
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-link"></i>
                        </a>
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div>
                        <img src="images/project_pic_5.webp" alt="" class="projects__cards-item-img">
                    </div>
                    <a href="" class="projects__cards-item-label">
                        <h3 class="projects__cards-item-title">
                            Claritas Etiam Processus
                        </h3>
                        <p class="projects__cards-item-description">
                            Photography, Nature
                        </p>
                    </a>
                </div>
                <div class="projects__cards-item">
                    <div class="projects__cards-item-overlay">
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-link"></i>
                        </a>
                        <a href="" class="projects__cards-item-overlay_link">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div>
                        <img src="images/project_pic_6.webp" alt="" class="projects__cards-item-img">
                    </div>
                    <a href="" class="projects__cards-item-label">
                        <h3 class="projects__cards-item-title">
                            Claritas Etiam Processus
                        </h3>
                        <p class="projects__cards-item-description">
                            Photography, Nature
                        </p>
                    </a>
                </div>                
            </div>
        </div>
        <a href="" class="header-content__page-link projects__button">LOAD MORE</a>
    </section>
</div>