<section class="main-device">
    <div class="container">
        <div class="row">
            <img src="images/mobile_device.webp" alt="" class="col-5 main-device-pic">
            <div class="col-7 main-device__panel">
                <h2 class="main-device__title">Excellent for Mobile Devices</h2>
                <p class="main-device__description">Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                <ul class="main-device__list">
                    <li class="main-device__list-item"><i class="fas fa-chevron-circle-right"></i>Nam liber tempor cum soluta nobis eleifend option;</li>
                    <li class="main-device__list-item"><i class="fas fa-chevron-circle-right"></i>Option congue nihil imperdiet doming id quod mazim placerat facer;</li>
                    <li class="main-device__list-item"><i class="fas fa-chevron-circle-right"></i>Eodem modo typi, qui nunc nobis videntur parum futurum;</li>
                    <li class="main-device__list-item"><i class="fas fa-chevron-circle-right"></i>Investigationes demonstraverunt lectores</li>
                </ul>
            </div>
        </div>
    </div>
</section>