<section class="main-stats">
    <div class="container">
        <div class="row">
            <div class="main-stats__content">
                <div class="main-stats__card">
                    <img src="images/measures_1.webp" alt="">
                    <div class="main-stats__card-number">3587</div>
                    <p class="main-stats__card-title">Satisfied Clients</p> 
                </div>
                <div class="main-stats__card">
                    <img src="images/measures_2.webp" alt="">
                    <div class="main-stats__card-number">207</div>
                    <p class="main-stats__card-title">Cups of Coffee</p> 
                </div>
                <div class="main-stats__card">
                    <img src="images/measures_3.webp" alt="">
                    <div class="main-stats__card-number">2500</div>
                    <p class="main-stats__card-title">Blog Posts</p> 
                </div>
                <div class="main-stats__card">
                    <img src="images/measures_4.webp" alt="">
                    <div class="main-stats__card-number">873</div>
                    <p class="main-stats__card-title">Likes</p> 
                </div>
                <div class="main-stats__card">
                    <img src="images/measures_5.webp" alt="">
                    <div class="main-stats__card-number">900</div>
                    <p class="main-stats__card-title">We Launched</p> 
                </div>
            </div>
        </div>
    </div>
</section>