<section class="presentation">
    <video src="/video/Minimal and Clean Desk Setup.mp4" class="presentation__video" poster="/images/video_preview.webp" muted></video>
    <a href="" class="presentation__button">
        <i class="presentation__icon fal fa-play-circle"></i>        
    </a>
    <h2 class="presentation__title">Waxom Video Presentation</h2>
    <p class="presentation__description">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius,
        qui sequitur mutationem consuetudium.</p>
    <div class="presentation__duration">03:26</div>
</section>