<section class="main-theme">
    <div class="container main-theme__content">
        <h2 class="main-theme__title">Waxom is Realization of your Ideas.</h2>
        <p class="main-theme__description">nvestigationes demonstraverunt lectores legere me lius quod ii legunt
            saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.</p>
        <img src="images/ideas_bg.webp" class="main-theme__img" alt="">
    </div>

    <div class="main-theme__banner">
        <div class="container">
            <div class="row main-theme__banner-content">
                <div class="main-theme__banner_left">
                    <h2 class="main-theme__banner-title">
                        <span class="main-theme__banner-title_span">Waxom</span> Multipurpose WordPress Theme
                    </h2>
                    <p class="main-theme__banner-description">
                        Don't Forget to Rate the Template. Thanks so much!
                    </p>
                </div>
                <a href="" class="standard-button main-theme__banner-button">PURCHASE NOW</a>
            </div>
        </div>
    </div>
</section>