$montserrat: 'Montserrat';
$raleway: 'Raleway';
$roboto: 'Roboto';

$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

@mixin media($size: $xxl) {
    @media (max-width: $size) {
        @content;
    }
}