@import 'common/fonts',
        'common/root',
        'common/standard-components',
        'layout/header',
        'layout/main';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

li{
    list-style: none;
}